[submodule "LQTControl/external/fmt"]
	path = LQTControl/external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "LQTControl/external/gsl"]
	path = LQTControl/external/gsl
	url = https://github.com/Microsoft/GSL.git
